#container {
    margin: 100px auto;
    width: 550px;
    height: 200px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    height: 40px;
    line-height: 25px;
    text-align: center;
    border: 1px solid rgb(168, 163, 163);
}

.count {
    width: 15px;
    text-align: center;
    border: none;
}